# React Native + Node + IDE gitignore

# Node files
node_modules/
npm-debug.log
yarn-error.log

# Build files
android/app/build/
android/build/
ios/build/
ios/Pods/
*.xcworkspace/
DerivedData/

# Local databases
*.db
*.db-journal
*.db-shm
*.db-wal

# Local env & keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.keystore
*.pem
*.key

# IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Hackathon temp files
generate_pdf.py
*.zip
*.tar.gz
